@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
body {
  overflow-x: hidden;
  background: url(../image/bg.jpg);
  font-family: 'Do Hyeon', sans-serif;
}

.starBg {
  background: url(../image/star.png);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



section.bottom {
  background: url(../image/bottom.png) center bottom/100% no-repeat;
  min-height: 60vh;
}



 .card {
  display: inline-block;
  margin: 0 2%;
  width: 400px;
  height: 200px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(45deg, #f7b733, #fc4a1a);
}
 #form {
     display:flex;
     flex-direction: column;
 }
